<form method="post" action="{{ path('app_indiscipline_delete', {'id': indiscipline.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ indiscipline.id) }}">
    <button class="btn">Delete</button>
</form>
