{% extends 'base.html.twig' %}

{% block title %}Edit Indiscipline{% endblock %}

{% block body %}
    <h1>Edit Indiscipline</h1>

    {{ include('indiscipline/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_indiscipline_index') }}">back to list</a>

    {{ include('indiscipline/_delete_form.html.twig') }}
{% endblock %}
