<form method="post" action="{{ path('app_dossier_personnel_delete', {'id': dossier_personnel.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dossier_personnel.id) }}">
    <button class="btn">Delete</button>
</form>
