{% extends 'base.html.twig' %}

{% block title %}Edit DossierPersonnel{% endblock %}

{% block body %}
    <h1>Edit DossierPersonnel</h1>

    {{ include('dossier_personnel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dossier_personnel_index') }}">back to list</a>

    {{ include('dossier_personnel/_delete_form.html.twig') }}
{% endblock %}
