<div class="col-12 bg-warning bg-opacity-10 py-2">
    <div class="row">
        <div class="col-8 fst-italic text-center fw-semibold">{{ form_row(form.designation) }}</div>
        <div class="col-4 fst-italic text-center fw-semibold">{{ form_row(form.email) }}</div>
        <div class="col-8 fst-italic text-center fw-semibold">{{ form_row(form.adresse) }}</div>
        <div class="col-4 fst-italic text-center fw-semibold">{{ form_row(form.telephone) }}</div>
        
    </div>
</div>

<div class="form-group">
    <button type="button" class="btn btn-danger btn-remove btn-sm">Remove</button>
</div>
