{% extends 'base.html.twig' %}

{% block title %}New Eleves{% endblock %}

{% block body %}
    {{ include('eleves/_form.html.twig') }}

    <a href="{{ path('app_eleves_index') }}">back to list</a>
{% endblock %}
