{% extends 'base.html.twig' %}

{% block title %}Edit NiveauEtudes{% endblock %}

{% block body %}
    <h1>Edit NiveauEtudes</h1>

    {{ include('niveau_etudes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_niveau_etudes_index') }}">back to list</a>

    {{ include('niveau_etudes/_delete_form.html.twig') }}
{% endblock %}
