{% extends 'base.html.twig' %}

{% block title %}New AbsencesPersonnel{% endblock %}

{% block body %}
    <h1>Create new AbsencesPersonnel</h1>

    {{ include('absences_personnel/_form.html.twig') }}

    <a href="{{ path('app_absences_personnel_index') }}">back to list</a>
{% endblock %}
